$primary-color-1: #a53aec;
$primary-color-2: #c582f3;
$primary-color-3: #bd70f1;
$primary-color-4: #b55eef;
$primary-color-5: #9c28ea;
$primary-color-6: #9417e7;
$primary-color-7: #8915d6;
$clr-mainWhite: #fff;
$clr-mainBlack: #000;
$clr-bg: #282d4d;
$clr-bg-2: #1e2139;
$transition: all 0.2s linear;
$radius: 10px;
$spacing: 0.1rem;
$shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
  0 0 2px rgb(0 0 0 / 7%);
